@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
@import url(./font.css);

:root {
    --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}

body {
    
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .scroll-animation-fade-up {
        @apply opacity-0;
        @apply translate-y-4;
        transition: opacity cubic-bezier(.33,1,.68,1) .6s, transform cubic-bezier(.33,1,.68,1) .8s;
    }
    .scroll-animation-fade-up-visible {
        @apply opacity-100;
        @apply translate-y-0;
    }
}