@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
@import url(./font.css);

:root {
    --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
    --primary-background-color: #09090b;
    --primary-text-color: #fff;
    --scrollbar-color-track: #424242;
    --scrollbar-color-thumb: #686868;
}

@media (prefers-color-scheme: dark) {
    :root {
        
    }
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

@supports (scrollbar-width: auto)
{
    * {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    }
}

/* 커스텀 css는 이니셜을 앞에 붙이기 */
@layer utilities {
    h1 {

    }
    h2 {
        
    }
    h3 {
        @apply text-xl;
    }
    .text-balance {
        text-wrap: balance;
    }
    .scroll-animation-fade-up {
        @apply opacity-0;
        @apply translate-y-4;
        transition: opacity cubic-bezier(.33,1,.68,1) .6s, transform cubic-bezier(.33,1,.68,1) .8s;
    }
    .scroll-animation-fade-up-visible {
        @apply opacity-100;
        @apply translate-y-0;
    }
    .jhs-bg-gradient-to-r-glitter {
        background: linear-gradient(to right,transparent 35%,rgba(255,255,255,.3) 70%,transparent 100%);
    }
    .acrylic-box {
        @apply border;
        @apply rounded-lg;
        @apply border-slate-50/10;
        @apply bg-slate-50/5;
        @apply after:absolute;
        @apply after:h-px;
        @apply after:top-0;
        @apply after:w-full;
        @apply after:jhs-bg-gradient-to-r-glitter;
    }
    .headerPrefixBox {
        @apply w-[30px];
        @apply h-[24px];
    }
}